

<div style="text-align: center;">

  <h1>
    Angular HttpClient CRUD Operations
  </h1>

  <!-- GET METHOD -->


  <h2>All Books</h2>

  <ul>
    <li *ngFor="let book of AllBooks">

      ID: {{book.id}}
      |
      Name: {{book.name}}
      |
      Category: {{book.category}}
      |
      Year: {{book.year}}

    </li>
  </ul>

  <br><br>
  <!-- POST METHOD -->


  <button (click)="insertBook()">
    Save Book
  </button>

  <h3>Book After Save</h3>

  <ul>
    <li *ngFor="let book of booksaftersaved">

      ID: {{book.id}}
      |
      Name: {{book.name}}
      |
      Category: {{book.category}}
      |
      Year: {{book.year}}

    </li>
  </ul>

  <br><br>

  <!-- PUT METHOD -->


  <button (click)="updateBook()">
    Update Book
  </button>

  <h3>Book After Update</h3>

  <ul>
    <li *ngFor="let book of updatedBooks">

      ID: {{book.id}}
      |
      Name: {{book.name}}
      |
      Category: {{book.category}}
      |
      Year: {{book.year}}

    </li>
  </ul>

  <br><br>

  <!-- DELETE METHOD -->

  <button (click)="deleteBook()">
    Delete Book
  </button>

  <h3>Books After Delete</h3>

  <ul>
    <li *ngFor="let book of deletedBooks">

      ID: {{book.id}}
      |
      Name: {{book.name}}
      |
      Category: {{book.category}}
      |
      Year: {{book.year}}

    </li>
  </ul>

</div>