/* Styling for the ngClass example */
.urgent-text {
  color: red;
  text-transform: uppercase;
  border: 1px solid black;
}

h1{
  color: blue;
}

button{
  column-gap: normal;
  background-color: aqua;
}

.container {
  display: flex;
}

.left {
  width: 50%;
  padding: 10px;
  border-right: 2px solid gray;
}

.right {
  width: 50%;
  padding: 10px;
}